#' Stem Volume Architecture
#'
#' This function calculates the stem volume of trees based on diameter at breast height (DBH),
#' total height (TH), and the species name. The formula used for the calculation depends on the
#' species, and the function supports a variety of common tree species. It is designed to be used
#' in forestry analysis for estimating biomass and carbon storage potential.
#'
#' @param data A data frame containing the tree data.
#' @param dbh_col The name of the column in the data frame containing the diameter at breast height (DBH) values.
#' @param th_col The name of the column in the data frame containing the total height (TH) values.
#' @param specie_col The name of the column in the data frame containing the tree species names.
#' @return A numeric value of the stem volume for the given species, or a message if the species is not registered.
#' @examples
#' data <- data.frame(DBH = c(30), Height = c(15), Species = c("silver fir"))
#' results <- StemVolumeArch(data, "DBH", "Height", "Species")
#' print(results)
#' (Rest of the documentation)
#  Note: no @export tag here.
.StemVolumeArch
StemVolumeArch <-function(data, dbh_col, th_col, specie_col){
  # Check if the columns exist and retrieve their values, ensuring they are numeric
  dbh <- as.numeric(data[[dbh_col]])
  th <- as.numeric(data[[th_col]])
  specie <- tolower(trimws(data[[specie_col]]))  # Remove extra spaces and convert to lowercase
  #
  # Handle missing or invalid values
  if (is.na(dbh) || is.na(th) || specie == "") {
    return(NA)  # Return NA for invalid data
  }
  if(specie %in% c("abies alba mill","silver fir")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-1.8381)+(3.7836*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(3.9934*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  #2
  else if(specie %in% c("cupressus spp","cypress")){
    # vume del fusto e dei rami grossi
    vol = (-2.6735)+(3.6590*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(6.4725*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  #3
  else if(specie %in% c("larix decidua mill","european larch")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-1.6519*10)+(2.9979*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(3.1506*as.numeric(dbh))
    return(c(vol))
  }
  #4
  else if(specie %in% c("picea abies k",	"norway spruce")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-9.1298)+(3.4866*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(1.4633*as.numeric(dbh))
    return(c(vol))
  }
  #5
  else if(specie %in% c("pinus cembra l","arolla pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (2.8521)+(3.9504*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #6
  else if(specie %in% c("pinus halepensis mill",	"aleppo pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-1.2508*10^-1)+(3.1518*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(2.3748*as.numeric(dbh))
    return(c(vol))
  }
  #7
  else if(specie %in% c("pinus laricio poiret",	"corsican pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (6.4383)+(3.8594*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #8
  else if(specie %in% c("pinus nigra arn","	black pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-2.1480*10)+(3.3448*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(2.9088*as.numeric(dbh))
    return(c(vol))
  }
  #9
  else if(specie %in% c("pinus pinaster ait",	"maritime pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (2.9963)+(3.8302*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #10
  else if(specie %in% c("pinus pinea l",	"stone pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-4.0404*10^-1)+(4.1113*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #11
  else if(specie %in% c("pinus sylvestris l","scots pine")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (3.1803)+(3.9899*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #12
  else if(specie %in% c("exotic pines group")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (2.6279)+(3.3389*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #13
  else if(specie %in% c("pseudotsuga menziesii franco",	"douglas fir")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-7.9946)+(3.3343*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(1.2186*as.numeric(dbh))
    return(c(vol))
  }
  #14
  else if(specie %in% c("small conifers")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (2.1414)+(3.4914*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #15
  else if(specie %in% c("acer spp","maple")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (1.6905)+(3.7082*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #16
  else if(specie %in% c("alnus spp","alder")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-2.2932*10)+(3.2641*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(2.9991*as.numeric(dbh))
    return(c(vol))
  }
  #17
  else if(specie %in% c("carpinus-ostrya spp",	"hornbeam")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-1.4983)+(3.8828*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #18
  else if(specie %in% c("castanea sativa mill",	"sweet chestnut")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-2.0010)+(3.6524*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(7.4466*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  #19
  else if(specie %in% c("eucalyptus spp","eucalyptus")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-1.3789)+(4.5811*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #20
  else if(specie %in% c("fagus sylvatica L",	"european Beech")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (8.1151*10^-1)+(3.8965*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #21
  else if(specie %in% c("fraxinus spp",	"ash")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-1.1137*10^-1)+(3.9108*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #22
  else if(specie %in% c("quercus cerris L",	"turkey oak")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-4.3221*10^-2)+(3.8079*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #23
  else if(specie %in% c("quercus ilex L",	"holm oak")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-2.2219)+(3.9685*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(6.2762*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  #24
  else if(specie %in% c("quercus pubescens willd",	"downy oak")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (5.1025*10^-1)+(4.5184*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(-3.6026*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  #25
  else if(specie %in% c("robinia pseudoacacia l","black Locust")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-2.1214)+(3.7123*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(1.4296*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  #26
  else if(specie %in% c("salix spp",	"willow")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (-2.3140)+(3.8926*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))
    return(c(vol))
  }
  #27
  else if(specie %in% c("other broadleaves group",	"other broadleaves")){
    # GS (m3 ha-1) *BEF*WBD (t.d.m. m-3 f.v.) *A (ha)
    vol = (2.3118)+(3.1278*10^-2)*(as.numeric(dbh)^2)*(as.numeric(th))+(3.7159*10^-1*as.numeric(dbh))
    return(c(vol))
  }
  else {
    return("TreeSpecies not registered")
  }
}
